@mixin font-styles($font-size, $font-style, $font-weight, $line-height) {
  font-size: $font-size;
  font-style: $font-style;
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin title-styles() {
  @include font-styles(42px, normal, 700, 46.2px);
}

@mixin title-2-styles() {
  @include font-styles(36px, normal, 700, 39.6px);
}

@mixin title-3-styles() {
  @include font-styles(32px, normal, 700, 35.2px);
}

@mixin subtitle-styles() {
  @include font-styles(30px, normal, 700, 38px);
}

@mixin subtitle-2-styles() {
  @include font-styles(26px, normal, 700, 34px);
}

@mixin subtitle-3-styles() {
  @include font-styles(18px, normal, 700, 26px);
}

@mixin subtitle-4-styles() {
  @include font-styles(18px, normal, 400, 26px);
}

@mixin headline-styles() {
  @include font-styles(16px, normal, 700, 23px);
}

@mixin text-styles() {
  @include font-styles(16px, normal, 400, 23px);
}

@mixin caption-styles() {
  @include font-styles(14px, normal, 700, 22px);
}

@mixin caption-2-styles() {
  @include font-styles(14px, normal, 400, 16px);
}

@mixin caption-3-styles() {
  @include font-styles(12px, normal, 700, 16px);
}

@mixin caption-4-styles() {
  @include font-styles(12px, normal, 400, 16px);
}
