@import "_mixins.scss";

.title {
  @include title-styles();
}

.title-2 {
  @include title-2-styles();
}

.title-3 {
  @include title-3-styles();
}

.subtitle {
  @include subtitle-styles();
}

.subtitle-2 {
  @include subtitle-2-styles();
}

.subtitle-3 {
  @include subtitle-3-styles();
}

.subtitle-4 {
  @include subtitle-4-styles();
}

.headline {
  @include headline-styles();

  &-hover:hover {
    @include headline-styles();
  }
}

.text {
  @include text-styles();
}

.caption {
  @include caption-styles();
}

.caption-2 {
  @include caption-2-styles();
}

.caption-3 {
  @include caption-3-styles();
}

.caption-4 {
  @include caption-4-styles();
}

.text-decor-none {
  text-decoration: none;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-start-i {
  text-align: start !important;
}

.text-end {
  text-align: end;
}
