@mixin font-styles($font-size, $font-style, $font-weight, $line-height) {
  font-size: $font-size;
  font-style: $font-style;
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin heading-1() {
  @include font-styles(100px, normal, 400, 116px);
}

@mixin heading-2() {
  @include font-styles(60px, normal, 400, 72px);
}

@mixin heading-3-semibold() {
  @include font-styles(50px, normal, 500, 57px);
}

@mixin heading-4-semibold() {
  @include font-styles(35px, normal, 500, 40px);
}

@mixin heading-5-semibold() {
  @include font-styles(25px, normal, 500, 30px);
}

@mixin heading-6-semibold() {
  @include font-styles(20px, normal, 500, 25px);
}

@mixin heading-7-semibold() {
  @include font-styles(18px, normal, 500, 25px);
}

@mixin subtitle-1() {
  @include font-styles(16px, normal, 400, 18px);
}

@mixin subtitle-1-semibold() {
  @include font-styles(16px, normal, 600, 18px);
}

@mixin subtitle-2() {
  @include font-styles(14px, normal, 400, 16px);
}

@mixin subtitle-2-semibold() {
  @include font-styles(14px, normal, 600, 16px);
}

@mixin subtitle-2-bold() {
  @include font-styles(14px, normal, 700, 16px);
}

@mixin text-small() {
  @include font-styles(12px, normal, 500, 14px);
}

@mixin text-very-small() {
  @include font-styles(10px, normal, 400, 11px);
}
