@import '_mixins.scss';

.header-1 {
  @include heading-1();
}

.header-2 {
  @include heading-2();
}

.header-semibold-3 {
  @include heading-3-semibold();
}

.header-semibold-4 {
  @include heading-4-semibold();
}

.header-semibold-5 {
  @include heading-5-semibold();
}

.header-semibold-6 {
  @include heading-6-semibold();
}

.subtitle-1 {
  @include subtitle-1();
}

.subtitle-2 {
  @include subtitle-2();
}

.subtitle-semibold-1 {
  @include subtitle-1-semibold();
}

.subtitle-semibold-2 {
  @include subtitle-2-semibold();
}

.subtitle-bold-2 {
  @include subtitle-2-bold();
}

.text-small {
  @include text-small();
}

.text-small-2 {
  @include text-very-small();
}

.text-decor-none {
  text-decoration: none;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-start-i {
  text-align: start !important;
}

.text-end {
  text-align: end;
}
