@import "assets/styles/common/colors/index.scss";

:host ::ng-deep {
  .p-button {
    width: 100%;
    padding: 18px;
    background-color: $primary;
    border-color: $primary;
    color: $dark;
  }

  .p-button-label {
    font-weight: 400;
  }
}
