<div class="flex-col wp-300  gap-12  p-16 border-1 border-stroke  border-radius-8">
  <!--  <div class="w-100 flex ai-center jc-space">-->
  <!--    <div class="bg-cancel text-white border-radius-5 p-4 caption-4 text-center w-50">tag</div>-->
  <!--  </div>-->
  <div class="flex-col gap-16">
    <div class="flex jc-space ai-center gap-20">
      <h3 class="headline title-color">{{ name() }}</h3>
      <img src="/img/edit.svg" alt="edit" (click)="edit.emit(goal)" class="pointer" />
    </div>
    <p class="text-color caption-4">{{ description() }}</p>
    <app-progress-bar
      [progress]="currentAmount()"
      [total]="totalAmount()"
      color="bg-cancel"
      withViewValues
    >
    </app-progress-bar>
  </div>
</div>
