<div class="flex-col gap-34 p-16 border-radius-4 w-50">
  <div class="flex ai-center jc-space">
    <h2 class="header-semibold-6">
      Наименование:
      <!--      {{ data?.data.attributes.name }}-->
    </h2>
    <h2 class="header-semibold-6">
      Категория:
      <!--      {data?.data.attributes.category}-->
    </h2>
  </div>
  <p>
    Описание:
    <!--    {data?.data.attributes.description}-->
  </p>
  <div class="flex ai-center jc-space">
    <span class="subtitle-semibold-1">
      Сумма:
      <!--          {data?.data.attributes.count}-->
    </span>
    <span class="subtitle-semibold-1">
      Дата:
      <!--      {data?.data.attributes.date}-->
    </span>
  </div>
</div>
