@import "common";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: "Manrope", sans-serif;
  cursor: default;
  background-color: $background !important;
}

.pointer {
  cursor: pointer;
}

.opacity {
  opacity: 1;
}

.opacity-none {
  opacity: 0;
}
