<div>
  <div class="flex-col gap-10 mb-32">
    <h1 class="title">Зарегистрируйтесь</h1>
    <p class="caption-4 text-color">We can assign tasks, set deadlines, and track progress
      effortlessly.</p>
  </div>

  <form action="" class="flex-col gap-32">
    <app-input label="Email или логин" type="text" placeholder="Введите имя"/>
    <app-input label="Пароль" type="password" placeholder="Введите пароль"/>
    <app-input label="Подтверждение пароля" type="password" placeholder="Подтвердите пароль"/>
    <app-button type="submit" disabled>Зарегистрироваться</app-button>
  </form>
</div>
