<div>
  <div class="flex-col gap-10 mb-32">
    <h1 class="title">С возвращением!</h1>
    <p class="caption-4 text-color">We can assign tasks, set deadlines, and track progress
      effortlessly.</p>
  </div>
  <form class="flex-col gap-32">
    <app-input type="text" label="Email или логин" placeholder="Введите логин/email"></app-input>
    <app-input type="password" label="Имя пользователя" placeholder="Введите пароль"></app-input>

    <span class="title-color text pointer">Забыли пароль ?</span>
    <app-button type="submit" disabled>Войти</app-button>
  </form>
</div>
