<table class="table">
  <thead>
  <tr>
    @for (column of columns(); track column) {
      <th class="subtitle-3">{{ column.columnName }}</th>
    }
    @if (withActions()) {
      <th>Действия</th>
    }
  </tr>
  </thead>
  <tbody>
    @if (strapiData()) {
      @for (item of strapiData(); track item) {
        <tr class="table-hover" (click)="rowClicked.emit(item)">
          @for (column of columns(); track column) {
            <td class="caption-2">
              {{ item.attributes[column.columnField] || "-" }}
            </td>
          }
          @if (withActions()) {
            <td class="text-center">
              <img src="/img/editer.svg" alt="edit" class="pointer hp-20 wp-20" (click)="editClick.emit(item)" />
            </td>
          }
        </tr>
      }

    }
  <tr>
    <td [attr.colspan]="withActions() ? columns().length + 1 : columns().length"
        class="text-center p-10-i bg pointer table-hover"
        (click)="addNewEntity.emit()">
      <img src="/img/add.svg" alt="icon" class="hp-48 wp-48" />
    </td>
  </tr>
  </tbody>
</table>
