@for $count from 0 through 100 {
  .w-#{$count} {
    width: 1% * $count;

    &-i {
      width: 1% * $count !important;
    }
  }

  .h-#{$count} {
    height: 1% * $count;

    &-i {
      height: 1% * $count !important;
    }
  }

  .w-vw-#{$count} {
    width: 1vw * $count;

    &-i {
      width: 1vh * $count !important;
    }
  }

  .h-vh-#{$count} {
    height: 1vh * $count;

    &-i {
      height: 1vh * $count !important;
    }
  }
}

@for $count from 0 through 1000 {
  .wp-#{$count} {
    width: 1px * $count;

    &-i {
      width: 1px * $count !important;
    }
  }

  .max-wp-#{$count} {
    max-width: 1px * $count;

    &-i {
      max-width: 1px * $count !important;
    }
  }

  .min-wp-#{$count} {
    min-width: 1px * $count;

    &-i {
      min-width: 1px * $count !important;
    }
  }

  .hp-#{$count} {
    height: 1px * $count;

    &-i {
      height: 1px * $count !important;
    }
  }

  .min-hp-#{$count} {
    min-height: 1px * $count;

    &-i {
      min-height: 1px * $count !important;
    }
  }

  .max-hp-#{$count} {
    max-height: 1px * $count;

    &-i {
      max-height: 1px * $count !important;
    }
  }
}

.max-w-content-min {
  max-width: min-content;
}

.min-hp-0 {
  min-height: 0;
}
