.bg {
  background-color: $background;
}

.bg-white {
  background-color: $white;
}

.bg-text {
  background-color: $text;
}

.bg-title {
  background-color: $title;
}

.bg-invest-card {
  background-color: $invest-invoice;
}

.bg-main-card {
  background-color: $main-invoice;
}

.bg-saving-card {
  background-color: $saving-invoice;
}

.bg-stroke {
  background-color: $stroke;
}

.bg-transparent {
  background-color: transparent;
}
