$black: #000;
$white: #fff;
$danger: #f44336;
$green: #4b8b4b;

$orange: #ffa726;

$primary-high: #212121;
$primary-medium: #3d3d3d;
$primary-light: #f1f7fa;

$secondary-high: #c6c6c6;
$secondary-medium: #d2d2d2;
$secondary-light: #dbf5fd;

$cancel: #fc6363;
$process: #ffb546;
$success: #06c698;

$title: #262626;
$text: #808080;
$background: #fafafa;
$stroke: #eeeeee;

$main-invoice: #ffdccd;
$saving-invoice: #e8f4d8;
$invest-invoice: #e6f7ff;
