$black: #000;
$white: #fff;
$danger: #f44336;
$green: #4b8b4b;

$orange: #ffa726;

$primary-high: #212121;
$primary-medium: #3D3D3D;
$primary-light: #F1F7FA;

$secondary-high: #c6c6c6;
$secondary-medium: #d2d2d2;
$secondary-light: #DBF5FD;

$cancel: #FC6363;
$process: #FFB546;
$success: #06C698;

$title: #262626;
$text: #808080;
$background: #FAFAFA;
$stroke: #EEEEEE;

$main-invoice: #FFDCCD;
$saving-invoice: #E8F4D8;
$invest-invoice: #E6F7FF;
